body {
	position: fixed;
	--color-bg: transparent;
	--color-link: #2fe8c3;
	--color-link-hover: #2fe8c3;
	--color-slide-text: #2fe8c3;
	--font-trail-weight: 900;
	--font-trail-lheight: 0.75;
	--font-trail-family: Kanit, sans-serif; 
	background-color: none;	
	font-family: Kanit, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.frame {
	position: fixed;
	z-index: 1000;
}

.frame__links{
	position: fixed; 
	left: 70.3%;
	top: 65%;
	font-size: 130%;
}

.content {
	
	position: fixed;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'main';
}

.content__slide {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'inner';
	align-items: center;
	opacity: 0;
	pointer-events: none;
}

.content__slide--current {
	opacity: 1;
}

.content__text-wrap {
	position: fixed;
	grid-area: inner;
	width: 100%;
}

.content__img {
	width: 100%;
	height: 60%;
	top: 0%;
	position: fixed;
}

.content__img--full::after {
	position:fixed;
	content: '';
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.content__img-inner {
	opacity: 0.4;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
}

.content__text-wrap {
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__text {
	overflow: hidden;
	flex: 1;
	opacity: 0;
	pointer-events: none;
}

.content__text:nth-child(6) {
	opacity: 1;
}

.content__text--full {
	flex: none;
}

.content__text-inner {
	position: static;
	color: #2fe8c3;
	text-transform: uppercase;
	font-size: 10rem;
	font-weight: var(--font-trail-weight);
	line-height: var(--font-trail-lheight);
	font-family: var(--font-trail-family);
}

.content__text-inner--stroke {
	position: static;
	left: 50%;
	top: 50%;
	-webkit-text-stroke: 2px #2fe8c3;
	-webkit-text-fill-color: transparent;
	color: none;
}

.content__nav {
	z-index: 1000;
	position: fixed;
	left: 46%;
}

.content__nav-button {
	z-index: 1000;
	position: fixed;
	font-family:Kanit;
	left: 70%;
	top: 61%;
	font-size: xx-large;
	cursor: pointer ;
	border: 0;
	background: none;
	color: #d40749;
	font-weight: 900;
	line-height: 1.4;
}





@media screen and (max-width: 53em) {
	:root {
		font-size: 16px;
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__tagline {
		grid-area: tagline;
		justify-self: end;
		margin: 0;
		text-align: right;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}

	.frame {
		position: fixed;
		z-index: 1000;
	}

	.frame__links{
		position: fixed; 
		left: 77.5%;
		top: 65%;
		font-size: 130%;
	}

	.content {
		height: 100vh;
	}
	.content__img {
		width: 100%;
		height: 60%;
		top: 0%;
	}
	.content__img--full {
		height: 100%;
		width: 100%;
		max-width: none;
		max-height: none;
	}
	.content__text-inner {

		font-size:4.5rem;
	}
	.content__text-wrap {
		top: 22%;
		position: fixed;
		height: 55%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.content__nav {
		z-index: 1000;
		position: fixed;
		left: 46%;
	}

	.content__nav-button {
		z-index: 1000;
		position: fixed;
		font-family:Kanit;
		left: 70%;
		top: 61%;
		font-size: xx-large;
		cursor: pointer ;
		border: 0;
		background: none;
		color: #d40749;
		font-weight: 900;
		line-height: 1.4;
	}

}


