h1 {
  position: fixed;
  top: 100px;
  left: 0;
	float: left;
	color: #2fe8c3;
	font-family: Verdana;
	font-size: 3.3em;
	margin-left: 5%;
  margin-top: 10%; 
}
h1 span{
  position:absolute;  
  height: 40px;
	top: 20px;
	right: -4px;
	background: black;  
	width: 100%; 
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards,
										 cursor 1s infinite;
	animation: typing 2s steps(18) forwards,
						 cursor 1s 4;
}
 

h2 {
  position: fixed;
  top: 200px;
	float: left;
	color: rgb(212, 7, 73);
	font-family: Verdana;
	font-size: 3.3em;
	margin-top: 25%;
  margin-left: 5%;
}
h2 span{
  height: 40px;
	position:absolute;   
	top: 22px;
	right: -4px;
	background:black ;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards,
										 cursor 1s infinite;
	animation: typing 3.5s steps(18) forwards,
						 cursor 1s infinite;
  animation-delay: 0s;
}

/* Animation */
@-webkit-keyframes typing{
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: white;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}
@keyframes cursor{
	50% { border-color: white;}
}
